@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.features {
  text-align: left;
  margin-top: 20px;
}

.features ul {
  list-style-type: none;
  padding: 0;
}

.features li {
  background-color: #f1f1f1;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

#logo {
  font-family: 'Doto', sans-serif;
  color: black;
}
